.projects_frist {
    padding-top: 50px;
}

.projects_frist_p1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.projects_frist_p2 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

/* project-box */
.project_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 120px;
}

.project_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #F4F4F4;
}

.project_boxes img {
    padding: 46px 42px;
    width: 449px;
}

@media (max-width: 1425px) {
    .project_box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1129px) {
    .projects_frist {
        padding-top: 100px;
    }
}

@media (max-width: 1000px) {
    .project_boxes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project_boxes img {
        width: 90%;
    }

    .project_box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    @media (max-width: 734px) {
        .projects_frist_p1 {
            font-family: 'Unbounded', sans-serif;
            font-weight: 700;
            font-size: 24px;
        }

        .projects_frist_p2 {
            margin-top: 10px;
            margin-bottom: 15px;
            font-family: 'Unbounded', sans-serif;
            font-weight: 300;
            font-size: 12px;
            line-height: 24px;
        }

        .project_box {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }

        .project_boxes {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .project_boxes img {
            padding: 20px 22px;
            width: 90%;
        }
    }
}