.projects_frist {
    padding-top: 50px;
}

.projects_frist_p1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.projects_frist_p2 {
    margin: 10px 0px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

/* project-box */
.project_box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.project_boxes {
    border-radius: 8px;
    background-color: #F4F4F4;
}

.project_boxes img {
    padding: 46px 42px;
    width: 449px;
}
