.projects_frist {
    padding-top: 50px;
}

.projects_frist_p1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.projects_frist_p2 {
    margin: 10px 0px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}