:root {
    --black: #000;
    ---white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 95%;
    margin: auto;
}

.header {
    padding: 16px 0px;
    background: linear-gradient(to right, #003E81, #001733);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header_logo img {
    width: 88px;
}

.header_link {
    display: flex;
}

.header_link a {
    color: #fff;
    padding: 0px 14px;
    text-decoration: none;
    font-family: Unbounded !important;
}

.header_link ul {
    display: flex;
}

.header_link ul li {
    list-style: none;
}

.header_instagram img {
    padding: 0px 17px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.header_phone a{
    display: flex;
    align-items: center;
}

.header_phone img {
    padding-right: 10px;    
}

.header_phone span {
    padding-bottom: 5px;    
}