:root {
    --black: #000;
    ---white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 95%;
    margin: auto;
}

.header {
    padding: 12px 0px;
    background: linear-gradient(to right, #003E81, #001733);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header_logo img {
    width: 80px;
}

.header_link {
    display: flex;
}

.header_link a {
    color: #fff;
    padding: 0px 10px;
    text-decoration: none;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300 !important;
    font-size: 13px;
}

.header_link ul {
    display: flex;
}

.header_link ul li {
    list-style: none;
}

.header_instagram img {
    padding: 0px 17px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.header_phone a {
    display: flex;
    align-items: center;
}

.header_phone img {
    padding-right: 10px;
}

.header_phone a span {
    font-family: 'Unbounded', sans-serif;
}

/* body */

.body_first_text {
    margin-top: 80px !important;
}

.body_h1 p {
    font-weight: 700;
    font-size: 43px;
    font-family: 'Unbounded', sans-serif;
}

.body_h2 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_h2_text p {
    margin-top: 2px;
    font-weight: 300;
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
}

.body_h2_button a {
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    padding: 13px 15px;
}

.body_h2_button a:first-child {
    margin-right: 5px;
    color: #fff;
    background-color: #3D9AFF;
}

.body_h2_button a:last-child {
    color: #000;
    background-color: #f2f2f2;
}

/* iframe */
.iframe {
    width: 100%;
    margin-top: 25px;
}

.video-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

video {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.play-button:hover {
    background: #000;
    color: #fff;
}

.iframe_video_text {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.iframe_video_text p {
    font-size: 13px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    color: #fff;
}

.iframe-textbox {
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ECF5FF;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
}

.iframe-textboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.iframe-textboxes_img img {
    font-size: 24px;
}

.iframe-textboxes_img {
    padding: 10px 13px;
    border-radius: 50%;
    background-color: #fff;
}

.iframe-textboxes-text p {
    font-weight: 600;
    color: #007CFF;
    font-size: 15px;
    font-family: 'Unbounded', sans-serif;
}

/* main-card-box */
.main-card-box {
    padding: 70px 0px 80px 0px;
    margin-top: 100px;
    background: linear-gradient(to bottom, #d5e7ff2b, #D5EAFF);
}

.main-card-boxes {
    display: flex;
}

.main-card-boxes-1 {
    width: 20%;
}

.main-card-boxes-2 {
    position: relative;
    width: 40%;
}

.main-card-boxes-3 {
    width: 40%;
}

.main-card-boxes-2 button {
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #3D9AFF, #0063DC);
    padding: 10px 110px;
    position: absolute;
    bottom: 30px;
}

.main-card-boxes-1 h2 {
    font-family: 'Unbounded', sans-serif;
    color: #007CFF;
    font-size: 16px;
}

.main-card-boxes-1-icon {
    width: 50px;
    margin: 30px 0px 0px 30px;
    background-color: #EEF7FF;
    border-radius: 50%;
}

.main-card-boxes-1-icon img {
    padding: 10px 11px;
    width: 100%;
}

.main-card-boxes-1-p {
    font-size: 32px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
}

.main-card-boxes-2-p {
    line-height: 24px;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
}

.main-card-boxes-2-p-p {
    line-height: 24px;
    width: 81%;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
}

.main-card-boxes {
    position: relative;
}

.main-card-boxes-3-img img {
    margin: 50px 0px;
    width: 400px;
}

.main-card-boxes-3-img-2 img {
    margin: 50px 0px;
    width: 550px;
}

.main-card-boxes-3-num {
    position: absolute;
    top: 30px;
    right: 30px;
}

.main-card-boxes-3-num p span {
    font-weight: 600;
    font-family: 'Unbounded', sans-serif;
    font-size: 32px;
}

.main-card-boxes-3-num-1 {
    color: #007CFF;
}

.main-card-boxes-3-num-2 {
    margin-left: -5px;
    color: #00000020;
}

/* main-info-box */
.main-info-box {
    padding: 40px 0px;
    background: linear-gradient(to bottom, #0e6bcf, #001733);
}

.main-info-box-container {
    display: flex;
    gap: 20px;
}

.main-info-box-tex-text-1 {
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    color: #ffffff40;
}

.main-info-box-tex-text-2 {
    margin: 15px 0px;
    color: #FFFFFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.main-info-box-tex-text-3 {
    width: 80%;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Unbounded', sans-serif;
    margin-bottom: 30px;
    font-size: 13px;
}

.main-info-box-img img {
    width: 700px;
}

.main-info-boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.main-info-boxes-box {
    padding: 16px 24px;
    background-color: #ffffff10;
}

.main-info-boxes-box-p1 {
    font-weight: 500;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    font-size: 56px;
}

.main-info-boxes-box-p2 {
    margin-top: 15px;
    margin-bottom: 35px;
    color: #fff;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
}

.main-info-box-last-text {
    margin-top: 20px;
    width: 80%;
}

.main-info-box-last-text p {
    font-weight: 300;
    line-height: 20px;
    font-family: 'Unbounded', sans-serif;
    color: #ffffff80;
    font-size: 11px;
}

/* main-support */
.main-support {
    background-color: #F1F5F9;
    padding-top: 100px;
}

.main-support-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-support-nav-p1 {
    color: #000;
    font-size: 48px;
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
}

.main-support-nav-p2 {
    font-weight: 500;
    font-size: 14px;
    color: #007CFF;
    font-family: 'Unbounded', sans-serif;
}

.main-support-text {
    margin-top: 30px;
    width: 60%;
}

.main-support-text-p {
    line-height: 1.5;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* mijoz section */
.mijoz {
    margin-top: 50px;
}

.mijoz__box {
    padding: 25px 10px 15px 10px;
    overflow: hidden;
}

.mijoz-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}

/* ASOSIY TRACK */
.mijoz-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 22s linear infinite;
}

/* 2-qator – o‘ngga va sekin */
.mijoz-row.slow .mijoz-track {
    animation-name: scroll-right;
    animation-duration: 28s;
}

/* 3-qator – chapga va tez */
.mijoz-row.fast .mijoz-track {
    animation-name: scroll-left;
    animation-duration: 18s;
}

.mijoz-logo {
    background-color: #fff;
    flex-shrink: 0;
    min-width: 160px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.mijoz-logo img {
    max-width: 120px;
    max-height: 32px;
    object-fit: contain;
}

/* ANIMATSIYALAR */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}