:root {
    --black: #000;
    ---white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 95%;
    margin: auto;
}

.header {
    padding: 12px 0px;
    background: linear-gradient(to right, #003E81, #001733);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header_logo img {
    width: 80px;
}

.header_link {
    display: flex;
}

.header_link a {
    color: #fff;
    padding: 0px 14px;
    text-decoration: none;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300 !important;
    font-size: 14px;
}   

.header_link ul {
    display: flex;
}

.header_link ul li {
    list-style: none;
}

.header_instagram img {
    padding: 0px 17px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.header_phone a{
    display: flex;
    align-items: center;
}

.header_phone img {
    padding-right: 10px;    
}

.header_phone a span {
    font-family: 'Unbounded', sans-serif;
}

/* body */

.body_first_text {
    margin-top: 80px !important;
}

.body_h1 p {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Unbounded', sans-serif;
}

.body_h2 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_h2_text p {
    font-weight: 300;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
}

.body_h2_button a {
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
}

.body_h2_button a:first-child {
    margin-right: 5px;
    color: #fff;
    background-color: #3D9AFF;
}

.body_h2_button a:last-child {
    color: #000;
    background-color: #f2f2f2;
}