.service_first {
    margin-top: 70px;
}

.service_first_text_p1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    font-size: 48px;
}

.service_first_text_p2 {
    margin: 15px 0px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 24px;
    font-size: 16px;
}

.service_first_img img {
    width: 100%;
}

/* service-product */
.service_product {
    margin-top: 120px;
}

.section-title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Unbounded', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #2990FF;
    border-bottom: 1px solid #D9D9D9;
}

.products-grid-n1 {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.products-grid-n2 {
    margin-top: 100px;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.product_box {
    position: relative;
}

.product-card {
    height: 125px;
    background-color: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
}

.product-image {
    top: -29%;
    position: absolute;
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 20px;
}

.product-title {
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 15px;
    color: #000;
}

.product-description {
    font-weight: 300;
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}